body {
    
    background-color: #ffffff;
    color: #000000;
    position:relative;
    object-position: top;
    font-size: 16px;
    line-height: 24px;
    font-type: cooper;
}

.nav1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 35px;
    padding: 0;
    margin: 0;
    background-color: rgb(76,187,23);
    color: rgb(26,26,166);
    
}

li {
    display: inline;
    margin-right: 20px;
    padding-right: 10px;
    border-right: 1px solid #bbb;
}


figcaption {
    font-size: 8px;
    color: black;
    text-align: center;
}


#contactus {
    background-color: #79ac4a;
    font-size: 16px;    
}


@media (min-width: 700px) {
.pcontent {
    display: grid;
    grid-template-columns: 250px 500px 250px;
    grid-template-rows: repeat(4, 10vh);
    grid-template-columns: repeat(4, 30vw);
    grid-gap: 10px;
    grid-template-areas: "item1 item1 item1" "item2 item3 item3" "item4 item4 item4" ". . .";
}
}

.item1 {
    color: rgb(76,187,23);
    grid-row: 1;
    grid-column: 1/4;
    grid-area: item1;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-rows: repeat(3, 10vh);
    grid-template-columns: repeat(3, 30vw);
    width: 90vw;
    height: 10vh;
    z-index: 1;
    text-align: center;
    font-family: cooper bold;
    font-size: 16;
}

.item2 {
    color: #000000;
    grid-row: 2;
    grid-column: 1 / 2;
    grid-area: item2;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(3, 10vh);
    grid-template-columns: repeat(3, 30vw);
    width: 30vw;
    border-radius: 5%;
    grid-auto-flow: row;
    z-index: 2;
    font-size: 16px;
    text-align: center;
}

.item3 {
    background-color: #8fc1e3;
    grid-row: 2;
    grid-column: 2 / 4;
    grid-area: item3;
    width: 500px;
    height: 350px;
    border-radius: 2%;
    z-index: 3; 
}


.responsive-image {
    
    max-width: 480px;
    max-height: 400px; 
    display: block;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.responsive-image:hover {
    opacity: 0.7;
}


.item4 {
    grid-row: 3;
   grid-column: 1 /4;
    grid-area: item4;
    justify-content: flex-end;
    align-content: flex-end;
    grid-template-rows: repeat(3, 10vh);
    grid-template-columns: repeat(3, 30vw);
    width: 20vw;
    border-radius: 5%;
    z-index: 4;
        
}

.btn {
    background-color: rgb(76,187,23);
    font-size: 14px;
    border-style: solid;
    border: 1px solid black;
    height: 36px;
    text-align: center;
}
.btn:hover {
    background-color: sandybrown; 
}



.scontent {
    display: grid;
    grid-template-columns: 250px 500px 250px;
    grid-template-rows: repeat(4, 10vh);
    grid-template-columns: repeat(1, 30vw);
    grid-gap: 30px;
    grid-template-areas: "item5 item6 item7 item8";
 }

.item5 {
    border-radius: 10%;
    width: 300px;
    align-content: stretch;
    grid-row: 1;
    grid-column: 1/2;
    grid-area: item5;
    color: #4CBB17;
    text-align: left;
    font-style: italic;
    font-size: 24px;
    font-type: monospace bold;
}

.item6 {
    grid-row: 1;
    grid-column: 2/3;
    grid-area: item6;
    width: 250px;
    color: sandybrown;
    text-align: center;
    font-style: italic;
    font-size: 24px;
    font-type: monospace bold;
}

.item7 {
    background-color: #ffffff;
    height: 50px;
    width: 200px;
    grid-row: 1;
    grid-column: 3/3;
    grid-area: item7;
    color: #8fc1e3;
    text-align: center;
    font-style: italic;
    font-size: 24px;
    font-type: monospace bold;
}

.item8 {
    background-color: #ffffff;
    height: 200px;
    width: 250px;
    grid-row: 1;
    grid-column: 3/4;
    grid-area: item8;
    color: sandybrown;
    text-align: center;
    font-style: italic;
    font-size: 24px;
    font-type: monospace bold;
}
    
#footer {
    background-color: rgb(76,187,23);
    text-align: center;
    color: darkred;
    width: 100%;
    height: 50px;
}


